
    img{

        padding-top: 2%;
        display: inline;
   
        

    width: 500px;
}
    
    
        
        
        

    
.name1{
    text-align: start;
font-size: 25px;
color: rgb(197, 112, 55);
font-weight: bolder;
position: absolute;
left: 10%;
top: 5%;
}
    

    .phone {
        color: rgb(139, 69, 19);
        font-weight: bolder;
        text-align: end;
        padding-top: 2%;
        padding-right: 5%;
        transition: 3sec;}
div .phone:hover{
        color: brown;
    }
    
   div .list{
    position: absolute;
        top: 40%;
        left: 70%;
        color: rgb(78, 37, 2);
        background-color: nono;
       padding: 25px; 
       padding-top: 10px;
       margin-top:10px;
       font-size: 30px;
         font-weight: bold;
    
    }
.mail{
    display: inline;
    display: flex;
    direction: rtl;
    padding-right: 3%;
    /* padding-bottom: 5%; */
}


.container{
    border: solid black 2px;
    height: 1000px;
    width: 100%;
background-image :linear-gradient(to bottom ,rgb(48, 16, 6) 10%,rgb(146, 113, 75))   ;
height: 100%;
width: 100%;
}